@import "color";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap');
.home{
    display: flex;
    justify-content: center;
   padding: 3rem 1rem;
  
     flex-wrap: wrap;
}

.productCard{

  width: 350px;
  margin: 10px;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
      cursor: pointer;
    }
    h4{
      margin: 1rem;
    }
    >p{
      margin-top: 1rem;
      font-family: 'Source Sans Pro', sans-serif
    }
    button{
      cursor: pointer;
      background-color: black;
      padding: 1rem;
      border: none;
      border-radius: 5px;
      font-weight: 500;
      transition: all 0.5s;
      color: white;
      width: 100%;
      &:hover{
    background-color: rgb(94, 90, 90);
      }
    }
    &:hover{
     transform: scale(1.05);
        }
}